doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        table(border="1" rules="all")
            thead
                td Name
                td Roll No
            tr
                td Ambani
                td 20
            tr 
                td Adani
                td 40
        //This buffered comment
        //- This is unbuffered comment
        //unbuffered code
        -var number = 2
        -var color = "black"
        -var list = ["India","US"]
        x= "3 times number"+number*3
        h2= "I like"+color+"color"
        h4= "Country"+list[0]